/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.3.2015, 17:31:44
    Author     : tuuli-marietiilikainen
*/

body {
    background-color: #E0E4CC;
}

#inputInfo {
    padding-left: 30px;
    padding-top: 10px;
}

/*h1 {
    padding-left: 30px;
    padding-top: 30px;
}
*/

.pagecontent {
  padding: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(50,50,50,0.5);
}
/*NAVIGATION*/
.navbar {
    height: 100px;
}

.navbar-brand {
    font-size: 30px;
    padding: 30px;
}

.navbar-default {
    background-color: #0B486B;
    border-color: #0B486B;
    background-image: none;
    background-repeat: no-repeat;
}

#myNavbar {
    padding: 30px;
}
/*BUTTONS*/
.btn-default {
    background-color: #F38630;
    border-color: #F38630;
    background-image: none;
    background-repeat: no-repeat;
    padding: 10px;
}

/*.jumbotron {

    background: rgba(233, 213, 88, 0.5);
    background-image: none;
    background-repeat: no-repeat;
    width: 100%;
}*/

//INDEX
/*.jumbotron h1 {
    width: 300px;
}*/

.lead {
    float: left;
    width: 350px;
    margin: 10px;
}

.textcontent {
    width: 300px;
    max-width: 100%;
}

/*FORMS*/
.formcontent {
    width: 450px;
    float: left;
}

.col-sm-10 {
    width: 200px;
}

.col-sm-2 {
    width: 150px;
}

.form-login {
    float: left;
    //width: 600px; 
    margin: 10px;
}

.myimage {
    padding: 10px;
}